*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
}

button:hover{
    background-color: rgb(101, 33, 165);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{color: blueviolet;}

header{
    background-color: rgb(245,245,245);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/Nala.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero button{
    font-size: 1.75em;
}

#hero h1{
    color: white;
}

#somos-SocialPets .container{
    text-align: center;
    padding: 200px 12px;
}

#RecienLlegados{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#RecienLlegados .container{
    padding: 150px 12px;
}

#RecienLlegados h2{
    margin-top: 0;
    font-size: 4em;
}

#RecienLlegados p{
    display: none;

}

#RecienLlegados .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/Sam.jpg");
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/Adoptado2.jfif");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/Adoptado3.jfif");
}

#dudas .container{
    text-align: center; 
    padding: 250px 12px; 
}

#dudas li{
    margin: 16px 0px;
    font-weight: bold;
}

#adoptaYa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 80vh;
    background-color: rgb(30, 30, 30);
    }

#adoptaYa h2{
    font-size: 9vw;
}

#adoptaYa button{
    font-size: 5vw;
    border-radius: 25px;
}

footer{
    background-color: rgb(230, 230, 230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}

footer.container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }
    
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #somos-SocialPets .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-SocialPets .texto{
        padding: 0px 30px;
        max-width: 600px;
        width: 50%;
        text-align: initial;
        padding-left: 30px;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos.SocialPets h2{
        margin-top: 0px;
    }

    #somos-SocialPets .img-container{
        background-image: url("imagenes/SomosSocialPets.jpg");
        border-radius: 10px;
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;

        }

        #RecienLlegados .programas{
            display: flex;
            justify-content: center;
        }

        #RecienLlegados p{
            display: block;
            margin-bottom: 30px;
        }

        #RecienLlegados h3{
            margin-top: 0;
        }

        #RecienLlegados .carta{
            padding: 50px;
        }

        #dudas{
            background-image: url(imagenes/logo.png);
            background-repeat: no-repeat;
            background-size: 500px 400px;
            background-position: calc(100vw - 500px) 120px;
        }

        #dudas .container{
            text-align: initial;
        }

        #dudas ul{
            margin-left: 100px;
        }

        #adoptaYa h2{
            font-size: 5em;
        }
        #adoptaYa button{
            font-size: 2em;
        }

        #footer .container{
            justify-content: flex-end;
        }
}

@media (min-width: 1200px) {
    #dudas{
        background-position-x: calc(100vw - 800px);
    }
}
    
